
footer{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    font-family: roboto;
    font-weight: bolder;
    height: 80px;
    padding-top: 25px;
    align-content: center;
    line-height: 2.0em;
    background-color: rgb(141, 137, 131);

} 
#redes a{
    padding-left: 30px;
    justify-content: space-around;
}
#texto{
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.0em 0.5em black;
    font-size: 20px;
}
#links a{
    white-space: pre;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    text-shadow: 0.1em 0.0em 0.5em black;

}
