<!--Página de login do usuário-->

<%- include('../partials/header'); %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form onsubmit="event.preventDefault()" class="box" action="/usuarios" method="POST">

                    <h1>Tinder Job</h1>
                    <h3>Seu Tinder do Emprego</h3>

                    <input type="text" name="" placeholder="Número de celular ou e-mail"> 

                    <input type="password" name="" placeholder="Senha"> 
                    
                    <button type="submit" name="" value="Login"><a href="/usuarios">Login</a></button>

                    <a class="forgot text-muted mr-5" href="#">Esqueceu a senha?</a> 

                    <a href="/usuarios/cadastrarUsuarios">Criar nova conta</a>

                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>