.pessoaltítulo {
    font-family: monospace;
    font-size: 50px;
    font-weight: 30px;
    word-spacing: 5px;
    margin-left: 70px;
    padding: 0;
    border: 0;
  }
  
  .imgpessoal {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  } 
  
  .textopessoal {
    font-family: Helvetica;
    font-size: 15px;
    text-align: left;
    word-spacing: 5px;
    line-height: 1.8;
    width: 60%;
    float: left;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 0;  
  }
  
  .linkformulário{
    float: right;
  }
  
  .imginteligência {
      width: 50%;
      float: right;
      margin-top: 60px;
      margin-bottom: 20px;
      margin-left: 0;
      margin-right: 70px; 
  }
  
  .inteligênciatítulo {
    font-family: monospace;
    font-size: 50px;
    text-align: left;
    word-spacing: 5px;
    width: 60;
    float: left;
    margin-top: 60px;
    margin-bottom: 0;
    margin-left: 70px;
    margin-right: 0; 
  }
  
  .textointeligência {
    font-family: Helvetica;
    font-size: 15px;
    text-align: left;
    word-spacing: 5px;
    line-height: 1.8;
    width: 35%;
    float: left;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 0; 
  }
  
  .imggestão {
    width: 50%;
    float: left;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 70px; 
    margin-right: 0;
  }
  
  .gestãotítulo {
    font-family: monospace;
    font-size: 50px;
    text-align: right;
    word-spacing: 5px;
    width: 60;
    float: right;
    margin-top: 60px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 70px;  
  }
  
  .textogestão {
    font-family: Helvetica;
    font-size: 15px;
    text-align: right;
    word-spacing: 5px;
    line-height: 1.8;
    width: 35%;
    float: right;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 70px;
  }
  
  .imgoratória {
    width: 50%; 
    float: right;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 70px;   
  }
  
  .oratóriatítulo {
    font-family: monospace;
    font-size: 50px;
    text-align: left;
    word-spacing: 5px;
    width: 60;
    float: left;
    margin-top: 60px;
    margin-bottom: 0;
    margin-left: 70px;
    margin-right: 0;
  }
  
  .textooratória {
    font-family: Helvetica;
    font-size: 15px;
    text-align: left;
    word-spacing: 5px;
    line-height: 1.8;
    width: 35%;
    float: left;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 0;
  }
  
  .imggestãodotempo {
    width: 50%;
    float: left;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 0px; 
  }
  
  .gestãodotempotítulo {
    font-family: monospace;
    font-size: 50px;
    text-align: right;
    word-spacing: 5px;
    width: 60;
    float: right;
    margin-top: 60px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 70px;
  }
  
  .textogestãodotempo {
    font-family: Helvetica;
    font-size: 15px;
    text-align: right;
    word-spacing: 5px;
    line-height: 1.8;
    width: 35%;
    float: right;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 70px;
  }
  